<div class="app-sidebar sidebar-shadow">
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
        <span>
            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                <span class="btn-icon-wrapper">
                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                </span>
            </button>
        </span>
    </div>   


    <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
            <ul class="vertical-nav-menu">
                <li class="app-sidebar__heading"> 1.USAF Dashboard  
                
                <li class="mm-active">
                <a href="#" aria-expanded="true">
                    <i class="metismenu-icon pe-7s-browser"></i>1.1. Demography
                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                </a>
                </li>
                
                 <li >
                <a href="#" aria-expanded="true">
                    <i class="metismenu-icon pe-7s-browser"></i>1.2.Sectors and Indicators
                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                </a>
                
                <ul class="mm-collapse  " style="">
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i> 1.2.1.Urban Form, Public Space and Safety
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i>1.2.2.Housing and Property
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i>1.2.3.Water
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i>1.2.4.Sanitation
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i>1.2.5. Solid Waste Management
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i>1.2.6.Transportation
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i>1.2.7. Social Facilities and Services
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i>1.2.8. Environment and Ecology
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i>1.2.9. Clean Energy
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i>1.2.10. Disaster Risk Management
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i>1.2.11. Governance and Data Management
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="metismenu-icon"></i>1.2.12. Finance and Economy
                        </a>
                    </li>
                    
                </ul>
            </li>								</li>
                
                
                <li class="app-sidebar__heading"> 2. City Scoring and Reporting </li>
                <li>
                    <a href="dashboard-boxes.html">
                        <i class="metismenu-icon pe-7s-display2"></i>
                        2.1. All Sectors Report
                    </a>
                </li>
                 <li>
                    <a href="dashboard-boxes.html">
                        <i class="metismenu-icon pe-7s-display2"></i>
                        2.2. Customised Report
                    </a>
                </li>
                
                <li class="app-sidebar__heading">3. Data Visualisation</li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-mouse">
                        </i>3.1. All Sectors
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-mouse">
                        </i>3.2. Customised Charts
                    </a>
                </li>
                  
            </ul>
        </div>
    </div>
    
    
</div> 